<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div>

    <table border="1">
        <thead>
        <tr>
            <th> Id</th>
            <th> Name</th>
            <th> Speed</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.id}"/>
            <td th:text="${car.name}"/>
            <td th:text="${car.speed}"/>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>